/* ******************** */
/*    CSS Properties    */
/* ******************** */

:root {
  /* General Colors */
  --bg-main-color: rgb(242, 242, 242);--footer-menu-link-color: rgba(36, 51, 58, 1);
  --bg-nav-color: #12232C;
  --bg-footer-color: rgba(18, 35, 44, 0.8);

  --footer-heading-color: rgb(255, 255, 255);
  --footer-text-color: rgb(193, 201, 203);
  --footer-menu-link-color: rgb(193, 201, 203);
  --footer-menu-link-hover-color: rgba(193, 201, 203, 0.85);

  --text-color-on-dark: #ffffff;
  --text-color-on-light: #000000;

  --menu-link-color: rgba(255, 255, 255, 1);
  --menu-link-hover-color: rgba(255, 255, 255, 0.85);
  --menu-sub-link-color: rgba(248, 248, 248, 1);
  --menu-sub-link-hover-color: rgba(248, 248, 248, 0.85);

  --primary-color: rgb(111, 200, 238);

  /* Specific Colors */
  --primary-html-color: rgb(228, 148, 26);
  --secondary-html-color: rgb(113, 85, 57);

  --primary-css-color: rgb(39, 175, 60);
  --secondary-css-color: rgb(57, 113, 62);
  
  --primary-js-color: rgb(44, 122, 181);
  --secondary-js-color: rgb(57, 89, 113);
}