/* ********************* */
/*    General Styling    */
/* ********************* */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-main-color);
}

i.fas, i.far, i.fal {
  color: var(--text-color-on-dark);
  font-size: 30px;
}


/* ************ */
/*    Header    */
/* ************ */

header {
  background-color: var(--bg-nav-color);
  width: 300px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 20px 5px var(--bg-nav-color);
}

header figure#logotype {
  width: 50px;
  height: 50px;
  border: 12px dashed var(--primary-color);
  margin: 40px;
  box-shadow: 0px 0px 15px 2px var(--primary-color);
}

/* Navigation */
#hamburger, #hamburgerexit {
  display: none;
}

#arrow-left, #arrow-right {
  display: none;
}

@keyframes toright {
  from { left: 30px; }
  to { left: 300px; }
}

@keyframes toleft {
  from { left: 300px; }
  to { left: 30px; }
}

header nav ul.menu li {
  list-style: none;
  text-align: center;
}

header .toggle_menu {
  display: block !important;
}

/* Sub Navigation */
header nav ul.menu ul.sub-menu {
  display: none;
}

/* ********** */
/*    Main    */
/* ********** */

/* ************ */
/*    Footer    */
/* ************ */