/* ********************* */
/*    General Styling    */
/* ********************* */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-main-color);
  min-height: 100vh;
  display: grid;
  grid-template-columns: [col-start] 300px [main] auto [col-end];
  grid-template-rows: [row-start] auto [footer] 240px [row-end];
}

i.fas, i.far, i.fal {
  color: var(--text-color-on-dark);
  font-size: 30px;
}


/* ************ */
/*    Header    */
/* ************ */

header {
  background-color: var(--bg-nav-color);
  width: 300px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: flex-start;
  box-shadow: 0px 0px 20px 5px var(--bg-nav-color);
  grid-column: col-start / span main;
  grid-row: row-start / span row-end;
  z-index: 2;
}

header figure#logotype {
  width: 50px;
  height: 50px;
  border: 12px dashed var(--primary-color);
  margin: 40px;
  box-shadow: 0px 0px 15px 2px var(--primary-color);
}

/* Navigation */
#hamburger, #hamburgerexit {
  display: none;
}

#arrow-left, #arrow-right {
  display: none;
}

header nav {
  padding-bottom: 15px;
}

header nav ul.menu li {
  list-style: none;
  text-align: center;
}

header .toggle_menu {
  display: block !important;
}

/* Sub Navigation */
header nav ul.menu ul.sub-menu {
  display: none;
}

/* ********** */
/*    Main    */
/* ********** */

main {
  background-color: var(--bg-main-color);
  min-height: 50vh;
  grid-column: main / span col-end;
  grid-row: row-start / span footer;
  display: flex;
  flex-direction: column;
}

main > section {
  padding: 50px;
}

main#index section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

main#index section section {
  margin-top: 50px;
}
main#index section section:first-of-type {
  margin-top: 25px;
}

main#index section.banner {
  background-image: url("/images/frontend-banner.jpg");
  background-size: cover;
  background-position-x: -100px;
  min-height: 400px;
  padding: 0px;
  box-shadow: 0px 0px 20px var(--bg-nav-color);
}

main#index section.banner .banner-wrapper {
  background: linear-gradient(125deg, var(--bg-footer-color) 0%, rgba(31, 207, 230, 0.606) 38%);;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 50px; 
}
main#index section.banner .banner-wrapper .banner-headings {
  padding-left: 25px;
}

main#index section.main-content section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
}
main#index section.main-content section .course_item {
  width: 30%;
  margin-bottom: 50px;
}

main#index section.main-content section .course_item div {
  background-color: gray;
  min-height: 150px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-between;
}

main#index section.main-content section.html_courses a { background-image: url("/images/frontend-course-image.jpeg"); background-size: cover; background-position-y: -30px; border: 2px solid rgba(var(--primary-html-color), 1); border-radius: 15px; border-top-left-radius: 0px; }
main#index section.main-content section.html_courses div { background-color: rgba(var(--primary-html-color), 0.5); border-radius: 15px; border-top-left-radius: 0px; }
main#index section.main-content section.html_courses a:hover { box-shadow: 0px 0px 15px 5px rgba(var(--primary-html-color), 1); }

main#index section.main-content section.css_courses a{ background-image: url("/images/frontend-course-image.jpeg"); background-size: cover; background-position-y: -30px; border: 2px solid rgba(var(--primary-css-color), 1); border-radius: 15px; border-top-left-radius: 0px; }
main#index section.main-content section.css_courses div { background-color: rgba(var(--primary-css-color), 0.5); border-radius: 15px; border-top-left-radius: 0px; }
main#index section.main-content section.css_courses a:hover { box-shadow: 0px 0px 15px 5px rgba(var(--primary-css-color), 1); }

main#index section.main-content section.js_courses a { background-image: url("/images/frontend-course-image.jpeg"); background-size: cover; background-position-y: -30px; border: 2px solid rgba(var(--primary-js-color), 1); border-radius: 15px; border-top-left-radius: 0px; }
main#index section.main-content section.js_courses div { background-color: rgba(var(--primary-js-color), 0.5); border-radius: 15px; border-top-left-radius: 0px; }
main#index section.main-content section.js_courses a:hover { box-shadow: 0px 0px 15px 5px rgba(var(--primary-js-color), 1); }

/* ************ */
/*    Footer    */
/* ************ */

footer {
  background-color: var(--bg-footer-color);
  min-height: 240px;
  padding: 50px;
  grid-column: main / span col-end;
  grid-row: footer / span row-end;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

footer section {
  min-width: 150px;
  max-width: 600px;
}

footer section .copyright {
  margin-top: 15px;
}

footer aside {
  min-width: 150px;
  max-width: 300px;
}

/* **************** */
/*    Animations    */
/* **************** */

@keyframes toright {
  from { left: 30px; }
  to { left: 300px; }
}

@keyframes toleft {
  from { left: 300px; }
  to { left: 30px; }
}